*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --negro:#2e2951;
    --azul:#5a5ba7;
    --azul_claro:#2f7ca3;
    --rojo:#ea5353;
}
.container{
    width: 90%;
    margin: 0 auto;
}
/* navegacion */
nav{
    background: var(--negro);
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo{
    font-size: 25px;
    color: var(--azul_claro);
    letter-spacing: 2px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}
nav .container ul{
    display: flex;
    list-style: none;
}
.container ul li{
    margin-left: 10px;
    
}
nav .container ul li a{
    padding: 5px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 18px;
    text-decoration: none;
    transition:.2s linear; 
}
nav .container ul li a:hover{
    border-bottom: 4px solid rgb(84, 146, 141);
    opacity: .8;
}
/* banner */
.banner{
    background: url(https://cdn.pixabay.com/photo/2017/03/09/20/53/microphone-2130806_960_720.jpg) fixed no-repeat;
    background-size: cover;
}
.banner .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
}
.container .text{
    width: 60%;
    text-align: center;
}
.container .text h1{
    font-size: 38px;
    font-family: 'Baloo 2', cursive;
    padding: 10px 10px 15px 10px;
    letter-spacing: 1px;
    color: white;
}
.container .text h3{
    font-size: 22px;
    color: grey;
    padding: 0 10px 15px 10px;
    font-family: 'Baloo Da 2', cursive;
}
button{
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto Mono',monospace;
    border-radius: 5px;
    border: none;
    outline: none;
    /* brder:o .1px solid; */
    cursor: pointer;    
    transition: .3s;
}
button:hover{
    box-shadow: 0 0 2px grey ;
    opacity:.8;
}
.banner .container button{
    background: var(--azul_claro);
    width: 150px;
    color: white;
}
/* section nosotros */
.nosotros{
    background: var(--rojo);
    padding-bottom: 30px;
}
.nosotros .container h1{
    font-size: 30px;
    font-family: 'baloo 2',monospace;
    text-align: center;
    padding: 20px 10px 10px 10px;
}
.fila{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-gap: 10px;
}
.columna{
    padding: 15px;
    text-align: center;
}
.columna p{
    font-size: 22px;
    color:white;
    font-family: 'baloo da 2';
}
.columna img{
    width: 100%;

}
.youtubebtn{
    width: 100%;
    background: rgba(19, 193, 224, 0.733);
}
/* section contacto */
.contacto{
    background: var(--azul_claro);
}
.contacto .container{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto .container form label{
    display: block;
    font-size: 30px;
    font-family: 'baloo',cursive;
    color: white;
}
.contacto .container form input{
    padding: 8px;
    font-size: 20px;
    border:none;
    outline: none;
    border-radius: 3px;
    width: 50vw;
    border: 1px solid;
}
.contacto .container form button{
    background: rgb(63, 201, 70);
    border-radius: 0;
}
/* footer pie de pagina */
footer{
    background: var(--negro);
    /* height: 5vh; */
}
footer .container{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h3{
    font-size: 16px;
    color:white;
    font-family: 'roboto mono',monospace;
    padding-bottom: 15px;
}
.footer_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
.footer_row .col{
    text-align: center;
    
}
.footer_row .col ul{
    list-style: none;
}

.footer_row .col ul li{
    padding: 5px;
}
.footer_row .col ul li a{
    color: orange;
    text-decoration: none;
    font-size: 20px;
    font-family: 'baloo 2',cursive;
    cursor: pointer;
    transition: .2s;
}
.footer_row .col ul li a:hover{
    opacity: .6;
}